* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --padding: 1em;
    --font-animation: looping_font .5s infinite alternate-reverse;
    --arrow-animation: stroke_width_variation .5s infinite alternate-reverse;
    --thumbnail-animation: thumbnail_animation .5s infinite alternate-reverse;
}
html {
    font-size: 21px;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: mtdbt2f4d-88, Helvetica, Arial, sans-serif;
	line-height: 1.22;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;

}
/* animation queries */
/* none */
body[animation-version="none"] {
    --font-animation: none;
    --arrow-animation: none;
    --thumbnail-animation: none;
}
/* 0 */
body[animation-version="0"] *[data-animation="font"] {
    animation: var(--font-animation);
}
body[animation-version="0"] #menu-toggle .st0 {
    animation: var(--arrow-animation);
}
body[octo-lang="fr"] {
    font-family: mtdbt2f4d-66, Helvetica, Arial, sans-serif;
}



body.night
{
    background-color: #000;
    color: #fff;
}
body.night a:link,
body.night a:visited
{
    color: #ff0;
}
h1, h2, h3 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}
p {
	margin-bottom: 1em;
}

img, video {
	width: 100%;
    /* padding: 1em; */
  	/* filter: grayscale(100%); */
}

img:hover,
video:hover {
  	/* filter: initial; */
}

canvas {
    /* border: 5px solid red; */
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid;
}

a:hover {
    color: #000;
}

a:active {
	color:#FFF;
}

header {
	position: relative;
	padding: 1em;
}

header.homepage {
	z-index: 10;
}

ul {
	list-style-type: none;
	padding-left: 1em;
	margin: 0px;
}

ul:first-of-type {
	padding-left: 0px;
}

blockquote {
    font-family: sf-mono, monaco, courier, monospace;
    font-size: 15px;
    margin-block-start: 22px;
    margin-block-end: 22px;
}

/* ids */

#main {
    padding: var(--padding);
    padding-bottom: 60px;
}
.viewing-menu #main {
    display: none;
}
#badge-container {
	position: fixed;
	right: 0px;
	width: 100%;
    padding: 10px;
}

#badge {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#badge-container.lower-right {
	bottom: 0px;
	width: initial;
}

#breadcrumbs {
	padding: 1em;
	padding-bottom: 0px;
}

#content,
.content-container {
    padding: var(--padding);
}
#content {
    width: 50%;
}
#columns {
    columns: 300px 2;
    column-gap:60px;
    padding: var(--padding);
}

#columns.columnsDisabled {
    columns: auto;
}

#columns.one-column {
    column-count: 1;
}

#columns .break {
    break-after: column;
    margin-bottom: 0px;
}

/* use margin instead of <br> */
/* #columns div,
#content div {
    margin-bottom: 22px;
} */

/* #columns #en a {
    border-bottom: 2px solid #000;
}

#columns #fr a {
    border-bottom: 1px solid #000;
} */

#en,
#fr {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    /* background-color: #FF0; */
}
[octo-lang="en"] .fr,
[octo-lang="fr"] .en{
    display: none;
}
#notes {
    border-top: 1px solid #000;
    margin-top: 33px;
    padding-top: 11px;
    padding-bottom: 33vw;
}

#notes div {
    margin-bottom: 0px;
}

#notes a::before {
    padding-right: 11px;
    content: "";
    display:inline-block;
    height:20px;
    width:20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#notes a[href$=".pdf"]::before {
    background-image: url('/media/svg/pdf-1-k.svg');
}

#notes a:not([href$=".pdf"])::before {
    background-image: url('/media/svg/arrow-up-right-1-k.svg');
}

#fullscreen {
	/* width: auto; */
	height: auto;
}

#fullscreen:-webkit-full-screen,
#f:-webkit-full-screen,
:-webkit-full-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    background-color: #000;
    filter: initial;
}

#fullscreen:-ms-fullscreen,
:-ms-fullscreen {
	width: auto;
	height: auto;
	margin: auto;
  	filter: initial;
}

#fullwindow {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #000;
    z-index: +1;
}

#nav {
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
}

/* classes */

.mono {
    font-family: sf-mono, monaco, courier, monospace;
    font-size: 15px;
}

.large {
    /* vw = viewport width % */
    /* height based on width */
	height: 80vh;
}

.small {
    /* vw = viewport width % */
    /* height based on width */
	width: 33vw;
	height: 33vw;
}

.half {
    display: inline-block;
    width: 49%;
}

.centre {
	position: relative;
    top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.v-centre {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.h-centre {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.fullwindow {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	padding: initial;
    object-fit: contain;
    filter: initial;
    z-index: +1;
}

.make blockquote {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 11px;
    line-height: 16px;
}

.make blockquote:first-child { 
    margin-top: 0px;
}

.make #columns {
    columns: inherit;
    width: 800px;
    padding-right: 200px;
}

.make #about {
    margin-top: -22px;
    border-top: inherit;
    padding-bottom: 0px;
    page-break-after: always;
}

.make #notes {
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: 11px;
    line-height: 16px;
    page-break-inside: avoid;
}

.make #notes a::before {
    content: none;
}
    
.pdf #columns {
    columns: 100px 6;
}

.pdf #notes {
    padding-bottom: 22px;
}

.inline-svg {
    height: 22px;
	width: auto;
    padding: 0px;
}

*[font="m-0"]
{
    font-family: mtdbt2f4d-0, Helvetica, Arial, sans-serif;
    /*text-stroke: 1px;*/
    /*-webkit-text-stroke-width: 1px;*/
}
*[font="m-1"]
{
    font-family: mtdbt2f4d-1, Helvetica, Arial, sans-serif;
    text-stroke-width: 0.3px;
    -webkit-text-stroke-width: 0.3px;
}
*[font="m-2"]
{
    font-family: mtdbt2f4d-2, Helvetica, Arial, sans-serif;
    text-stroke: 0.5px;
    -webkit-text-stroke-width: 0.5px;
}
*[font="m-3"]
{
    font-family: mtdbt2f4d-3, Helvetica, Arial, sans-serif;
    text-stroke-width: 0.8px;
    -webkit-text-stroke-width: 0.8px;
}
*[font="m-4"]
{
    font-family: mtdbt2f4d-4, Helvetica, Arial, sans-serif;
    text-stroke-width: 1.2px;
    -webkit-text-stroke-width: 1.2px;
}
*[font="m-5"]
{
    font-family: mtdbt2f4d-5, Helvetica, Arial, sans-serif;
    text-stroke-width: 1.5px;
    -webkit-text-stroke-width: 1.5px;
}
*[font="m-6"]
{
    font-family: mtdbt2f4d-6, Helvetica, Arial, sans-serif;
    text-stroke-width: 1.7px;
    -webkit-text-stroke-width: 1.7px;
}
.octo-arm[font="m-7"]
{
    font-family: mtdbt2f4d-7, Helvetica, Arial, sans-serif;
    text-stroke-width: 10px;
    -webkit-text-stroke-width: 2px;
}
.octo-arm[font="m-8"]
{
    font-family: mtdbt2f4d-8, Helvetica, Arial, sans-serif;
}
.accent
{
    font-size: 0.8em;
    font-weight: 300;
}

.floatContainer:after
{
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.button {
    width: 100%;
    height: 35px;
    color: #000;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

.button:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #FFF;
}
.button-area {
    /*padding: 5px;*/
    /*width: 200px;*/
    box-sizing: content-box;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
#shopContainer a:link,
#shopContainer a:visited
{
    color: #0B0;
} 
.float-container:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
/* .flex-container
{
    display: flex;
} */

@keyframes looping_font {
    0% {
        font-family: mtdbt2f4d-0, Helvetica, Arial, sans-serif;
    }
    14.29% {
        font-family: mtdbt2f4d-1, Helvetica, Arial, sans-serif;
    }
    28.57% {
        font-family: mtdbt2f4d-2, Helvetica, Arial, sans-serif;
    }
    42.86% {
        font-family: mtdbt2f4d-3, Helvetica, Arial, sans-serif;
    }
    57.14% {
        font-family: mtdbt2f4d-4, Helvetica, Arial, sans-serif;
    }
    71.43% {
        font-family: mtdbt2f4d-5, Helvetica, Arial, sans-serif;
    }
    85.71% {
        font-family: mtdbt2f4d-66, Helvetica, Arial, sans-serif;
        /* color: blue; */
    }
    100% {
        font-family: mtdbt2f4d-88, Helvetica, Arial, sans-serif;
        /* color: red; */
    }
}
@keyframes stroke_width_variation {
    0% {
        stroke-width:8;
    }
    14% {
        stroke-width:8;
    }
    14.29% {
        stroke-width:9;
    }
    28% {
        stroke-width:9;
    }
    28.57% {
        stroke-width:10;
    }
    42% {
        stroke-width:10;
    }
    42.86% {
        stroke-width:11;
    }
    57% {
        stroke-width:11;
    }
    57.14% {
        stroke-width:12;
    }
    71% {
        stroke-width:12;
    }
    71.43% {
        stroke-width:13;
    }
    85% {
        stroke-width:13;
    }
    85.71% {
        stroke-width:14;
        /* color: blue; */
    }
    99% {
        stroke-width:14;
        /* color: blue; */
    }
    100% {
        stroke-width:15;
        /* color: red; */
    }
}
/* @keyframes thumbnail_animation {
    0% {
        stroke-width:8;
    }
    14% {
        stroke-width:8;
    }
    14.29% {
        stroke-width:9;
    }
    28% {
        stroke-width:9;
    }
    28.57% {
        stroke-width:10;
    }
    42% {
        stroke-width:10;
    }
    42.86% {
        stroke-width:11;
    }
    57% {
        stroke-width:11;
    }
    57.14% {
        stroke-width:12;
    }
    71% {
        stroke-width:12;
    }
    71.43% {
        stroke-width:13;
    }
    85% {
        stroke-width:13;
    }
    85.71% {
        stroke-width:14;
    }
    99% {
        stroke-width:14;
    }
    100% {
        stroke-width:15;
    }
} */
/* vertical iPhone */
@media screen and (max-width: 500px) {
    :root {
        --padding: 0.5em;
    }
    #content {
        width: auto;
    }
}
